/* CONTAINER */
@media (max-width: 576px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 576.99px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}

/* BODY */
@media (max-width: 992px) {
    body {
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "header header"
        "image image"
        "desc desc"
        "footer footer";

        gap: 0px;
        background-position: top;
        background-image: url(../images/bg-mobile.svg);
    }

    #description {
        margin: auto;
        gap: 2rem;
    }

    #description h1, p {
        text-align: center;
    }

    #container-img, #description {
        padding-top: 9rem;
    }
}