body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: 
    "header header"
    "image desc"
    "footer footer";

    gap: 2rem;
    height: 100vh;
    padding: 0px 1rem 0px 1rem;

    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center left;
    background-color: var(--violet);
    background-image: url(../images/bg-desktop.svg);
}

#header {
    grid-area: header;
    padding: clamp(2.5rem, 3vw, 4rem);
}

#container-img {
    grid-area: image;
    padding-top: 14rem;
    width: 100%;
}

#image {
    display: block;
    margin: auto;
    max-width: 100%;
}

#description {
    grid-area: desc;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    padding-top: 13rem;
    gap: 2.5rem;
}

#description h1 {
    color: white;
    max-width: 570px;
    font-family: var(--font-poppings);
    font-size: clamp(3.5rem, 3vw, 5rem);
}

#description p {
    color: white;
    max-width: 570px;
    font-family: var(--font-open-sans);
    font-size: clamp(2.5rem, 2vw, 2rem);
}

#button {
    width: 17rem;
    height: 4.5rem;
    font-size: 1.8rem;
    text-align: center;
    margin-right: auto;
    line-height: 4.5rem;
    color: var(--violet);
    border-radius: 2.5rem;
    text-decoration: none;
    background-color: white;
    transition-duration: 250ms;
    font-family: var(--font-poppings);
}

#button:hover {
    color: white;
    background-color: var(--soft-magenta);
}

#footer {
    grid-area: footer;
}

#footer > * {
    font-size: 2rem;
}