@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --font-open-sans: 'Open Sans', sans-serif;
    --font-poppings: 'Poppins', sans-serif;

    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

html {
    font-size: 62.5%;
}

.center-img {
    background-size: cover;
    background-position: center;
}

.text-center {
    text-align: center;
}

.container, .container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}